body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(242, 68, 4);
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    background-color:  rgba(255, 145, 0, 0.943)red;
    border: 10px solid  rgb(242, 68, 4);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}